<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test-for-vue</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vue.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
            <div v-once class="col-md-1">
                {{message}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default">{{button}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">{{button}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">{{button}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">{{button}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">{{button}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default">{{button}}</button>
            </div>
        </div>

        <div class="row">
            <div v-for="input in inputs" class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">{{input.name}}</span>
                    <input v-model="input.value" type="text" class="form-control" placeholder="input" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>i1</th>
                    <th>i2</th>
                    <th>i3</th>
                    <th>i4</th>
                    <th>i5</th>
                    <th>i6</th>
                    <th>i7</th>
                    <th>i8</th>
                    <th>i9</th>
                    <th>i10</th>
                    <th>i12</th>
                    <th>i13</th>
                    <th>i14</th>
                    <th>i15</th>
                    <th>i16</th>
                    <th>i17</th>
                    <th>i18</th>
                    <th>i19</th>
                    <th>i20</th>
                    <th>i21</th>
                    <th>i22</th>
                </tr>
                <tr v-for="row in rows">
                    <td>{{row.id}}</td>
                    <td>{{row.i1}}</td>
                    <td>{{row.i2}}</td>
                    <td>{{row.i3}}</td>
                    <td>{{row.i4}}</td>
                    <td>{{row.i5}}</td>
                    <td>{{row.i6}}</td>
                    <td>{{row.i7}}</td>
                    <td>{{row.i8}}</td>
                    <td>{{row.i9}}</td>
                    <td>{{row.i10}}</td>
                    <td>{{row.i12}}</td>
                    <td>{{row.i13}}</td>
                    <td>{{row.i14}}</td>
                    <td>{{row.i15}}</td>
                    <td>{{row.i16}}</td>
                    <td>{{row.i17}}</td>
                    <td>{{row.i18}}</td>
                    <td>{{row.i19}}</td>
                    <td>{{row.i20}}</td>
                    <td>{{row.i21}}</td>
                    <td>{{row.i22}}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <script>
        var data = {
            message: 'Hello, World',
            button: 'button',
            inputs: [
                {name: 'i1', value: '11111111111'},
                {name: 'i2', value: '22222222222'},
                {name: 'i3', value: '33333333333'},
                {name: 'i4', value: '44444444444'},
                {name: 'i5', value: '55555555555'},
                {name: 'i6', value: '66666666666'}
            ],
            rows: [
                {
                    id: 0, i1: 1, i2: 2, i3: 3, i4: '444444444444', i5: 5.5,
                    i6: 6, i7: 'hello', i8: '88888888888888888888', i9: 9.9,
                    i10: 10, i11: 11, i12: 12, i13: 13, i15: 15151515, i16: 16,
                    i17: 17, i18: 18, i19: 19, i20: 20, i21: 21212121, i22: 22,
                    i23: 23, i24: 24, i25: 25, i26: 26, i27: 27, i28: 28
                }
            ]
        };

        for (var i = 1; i < 1000; i++) {
            data.rows.push({
                id: i, i1: 1, i2: 2, i3: 3, i4: '444444444444', i5: 5.5,
                i6: 6, i7: 'hello', i8: '88888888888888888888', i9: 9.9,
                i10: 10, i11: 11, i12: 12, i13: 13, i15: 15151515, i16: 16,
                i17: 17, i18: 18, i19: 19, i20: 20, i21: 21212121, i22: 22,
                i23: 23, i24: 24, i25: 25, i26: 26, i27: 27, i28: 28
            });
        }

        var app = new Vue({
            el: '#app',
            data: data
        });
    </script>
</body>
</html>